html, body {
    margin: 0;
    padding: 0;
}
html * {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    touch-action: none;
}
#canvas {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 0 auto;
}
.btn {
    width: 100px;
    height: 100px;
    -webkit-user-drag: none;
    border: none;
}
h1 {
    margin: 0;
}
p {
    margin: 0;
}